/*



// This file is part of Search https://github.com/Yabala/search
//
// Search is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Search is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Search.  If not, see <http://www.gnu.org/licenses/>.



*/



body{
    font-family: verdana;
}

form.index {
	border: 1px solid black;
	background-color: #cccccc;
	margin: 10px;
	padding: 10px;
 }
 
 div.index {
 	border: 1px solid white;
 	background-color: #eeeeee;
 	margin: 3px;
 	padding: 3px;
 }

form.admin {
	border: 1px solid black;
	background-color: #cccccc;
	margin: 10px;
	padding: 10px;
 }
 
 div.admin {
 	border: 1px solid white;
 	background-color: #eeeeee;
 	margin: 3px;
 	padding: 3px;
 }
 
 table.search, tr.search, td.search {
    border: 1px solid black;
    text-align: center;
    background-color: #cccccc;
    float: center;
} 

